@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html {
  height: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Orbitron, Arial, Helvetica, sans-serif;
  font-size: 32px;
}

#keypadContainer {
  width: 142px;
  height: 170px;
  background-color: lightgrey;
  border-radius: 5px;
  margin: auto;
}

#keypad {
  width: 101px;
  margin: 4px auto;
}

#lcd {
  width: 142px;
  height: 30px;
  background-color: darkgrey;
  border-radius: 5px 5px 0 0;
  text-align: center;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#options {
  position: relative;
  width: 200px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#options label {
  display: block;
}

#options select {
  margin-bottom: 5px;
}

#logContainer {
  position: relative;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

#logLabel {
  position: relative;
  display: inline;
  padding-left: 4px;
  font-size: 14px;
}

#log {
  height: 200px;
  margin-top: 2px;
  padding: 3px;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: outset;
  border-width: 2px;
}

#aboutAnchor {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.button {
  display: inline;
  background-color: darkgrey;
  border-radius: 5px;
  margin-bottom: 3px;
  font-size: 20px;
  width: 30px;
  height: 30px;
}

.row {
  text-align: center;
}

#cheats {
  width: 140px;
  margin: 8px auto;
  text-align: center;
  margin-bottom: 5px;
}

.gameButton {
  background-color: lightsteelblue;
  border-radius: 5px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0 20px;
  border: 1px solid #888;
  max-width: 450px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.75s;
  transform: rotate(180deg);
}

/* Modal Header */
.modal-header {
  margin: 20px auto;
  text-align: center;
}

/* Modal Body */
.modal-body {
  margin: 20px auto;
}

/* Modal Footer */
.modal-footer {
  margin: 20px auto;
  text-align: right;
}
