html {
  height: 100%;
}

#keypadContainer {
  width: 132px;
  height: 151px;
  background-color: lightgrey;
  border-radius: 5px;
  margin: auto;
}

#keypad {
  width: 101px;
  margin: 3px auto;
}

#lcd {
  width: 132px;
  height: 26px;
  background-color: darkgrey;
  border-radius: 5px;
  text-align: center;
  line-height: 26px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#options {
  position: relative;
  width: 200px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
}

#options select {
  display: block;
  margin-bottom: 5px;
}

#options p {
  text-align: center;
}

#logContainer {
  position: relative;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

#logLabel {
  position: relative;
  display: inline;
  padding-left: 4px;
  font-size: 14px;
}

#log {
  height: 200px;
  margin-top: 2px;
  padding: 3px;
  overflow-y: scroll;
  font-size: 14px;
  border: outset;
  border-width: 2px;
}

#aboutAnchor {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.button {
  display: inline;
  background-color: darkgrey;
  border-radius: 5px;
  margin-bottom: 3px;
  font-size: 18px;
}

.row {
  text-align: center;
}

#links {
  width: 132px;
  margin: 8px auto;
  text-align: center;
  margin-bottom: 5px;
}

.link {
  background-color: lightsteelblue;
  border-radius: 5px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
}
