html {
  height:100%;
}

body {
  font-family:Arial,Helvetica,sans-serif;
  color:black;
  font-size:16px;
}

#titleHeader {
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}

#main {
  position:relative;
  display:flex;
  flex-direction:row;
  height:200px;
  width:621.25px;
  margin-left:auto;
  margin-right:auto;
}

#main1 {
  display:flex;
  flex-direction:column;
  width:250px;
}

#main2 {
  width:371.25px;
}

#insideFlowInputDivContainer {
  position:relative;
  width:240px;
  height:81px;
  margin-bottom:5px;
}

#unitsDiv {
  width:225px;
}

#unitsTable td:first-child {
  text-align:right;
  width:56px;
}

#unitsTable ul li:first-child input {
  margin-left:0;
}

/*
#unitsTable ul li:nth-child(2) input {
  margin-left:3px;
}
*/

#unitsList {
  margin-top:0;
  margin-bottom:0;
  padding-left:0;
  list-style-type:none;
}

#unitsList li {
  display:inline-block;
}

#imperialDiv {
  position:absolute;
  top:0;
  left:0;
  visibility:visible;
}

#metricDiv {
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
}

#ft {
  width:60px;
}

#in {
  width:60px;
}

#lb {
  width:60px;
}

#cm {
  width:60px;
}

#kg {
  width:60px;
}

#resultsDiv {
  position:relative;
  visibility:hidden;
  width:220px;
}

#resultsTable {
  width:220px;
}

#mobileResultsTable {
  display:none;
  width:171px;
  margin-left:5px;
}

.resultsTable {
  border:1px outset black;
  border-top-left-radius:10px;
  border-bottom-right-radius:10px;
}

#closeResults {
  position:absolute;
  top:-6px;
  right:2px;
  color:dimgray;
  font-size:28px;
  font-weight:bold;
  z-index:1;
}

#closeResults:hover, #closeResults:focus {
  color:black;
  text-decoration:none;
  cursor:pointer;
  /*
  transition-duration:0.75s;
  transform:rotate(180deg);
  */
}

#resultsTable td:first-child {
  width:90px;
}

#mobileResultsTable td:first-child {
  width:45px;
}

.resultsTable td:first-child {
  text-align:right;
}

#categoriesTable {
  font-size:18px;
  border:1px solid gray;
  border-collapse:collapse;
}

#categoriesTable tr:nth-child(even) {
  background-color:gainsboro;
}

#categoriesTable th {
  text-align:left;
}

#categoriesTable th, #categoriesTable td {
  padding:2.5px 5px;
}

.inputTable {
  margin-bottom:5px;
}

.inputTable td:first-child {
  text-align:right;
  width:56px;
}

#convertImperialToMetricDiv {
  width:330px;
}

#convertMetricToImperialDiv {
  width:330px;
}

#convertCentimetersToMetersDiv {
  width:290px;
}

#convertMetersToCentimetersDiv {
  width:320px;
}

.conversionDiv {
  position:fixed;
  left:50%;
  transform:translateX(-50%);
  top:-60px;
  border:2px solid black;
  border-radius:10px;
  text-align:center;
  padding:5px;
  z-index:1;
  transition-duration:0.4s;
  background-color:white;
}

.conversionDiv p {
  margin:5px;
  display:inline-block;
  font-family:Arial,Helvetica,sans-serif;
}

.conversionDivButtons {
  display:inline-block;
}

.conversionDivButtons button {
  width:38px;
}

.conversionDivDisplayed {
  top:46px !important;
}

@media (max-width:658px) {
  #main {
    flex-direction:column;
    width:370px;
    height:initial;
  }
  #main1 {
    flex-direction:row;
    margin-bottom:3px;
  }
  #resultsTable{
    display:none;
  }
  #resultsDiv {
    width:171px;
  }
  #mobileResultsTable {
    display:block;
  }
}

@media (max-width:406px) {
  #categoriesTable {
    font-size:16px;
  }
  #main {
    width:335px;
  }
  #main2 {
    width:335px;
  }
  #mobileResultsTable {
    display:none;
  }
  #closeResults {
    display:none;
  }
  #resultsDiv {
    display:none;
  }
  #container {
    padding-left:5px;
    padding-right:5px;
  }
}

#aboutAnchor {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  /* 15% from the top and centered */
  /* margin: 15% auto; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  border: 1px solid #888;
  max-width: 450px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.75s;
  transform: rotate(180deg);
}

/* Modal Header */
.modal-header {
  margin: 20px auto;
  text-align: center;
}

/* Modal Body */
.modal-body {
  margin: 20px auto;
}

/* Modal Footer */
.modal-footer {
  margin: 20px auto;
  text-align: right;
}
