#bio {
  opacity: 0;
  transition-duration: 0.75s;
}

#bio a {
  text-decoration: none;
  /*text-decoration-style: dotted;*/
}

#bio a:hover {
  text-decoration: underline;
}

#bio a:active {
  background-color: lightsteelblue;
  border-radius: 3px;
}

#bio .aboutContent p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#bio ul {
  margin-top: 0;
  margin-bottom: 0;
}

#bio #education ul {
  list-style: disc inside none;
  padding-left: 0;
}

#bio #education ul li ul {
  list-style: circle outside none;
  padding-left: 40px;
}

#bio #education ul li ul li ul {
  list-style: square outside none;
}

#bio #honor-societies ul {
  list-style-position: inside;
  padding-left: 0;
}

#bio #certificates ul {
  list-style: disc inside none;
  padding-left: 0;
}

#bio #github ul {
  list-style: disc inside none;
  padding-left: 0;
}

#bio #contact ul {
  list-style: disc inside none;
  padding-left: 0;
}

.aboutHeading {
  font-family: 'Noto Sans SC', Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.aboutContent {
  margin-left: 40px;
}
