label {
  display: inline-block;
  vertical-align: top;
  font-family: 'Noto Sans SC', Arial, Helvetica, sans-serif;
}

button {
  font-family: 'Noto Sans SC', Arial, Helvetica, sans-serif;
}

fieldset {
  display: inline;
  border-radius: 10px;
}

legend {
  background-color: slategray;
  color: floralwhite;
}
