#contact {
  opacity: 0;
  transition-duration: 0.75s;
}

label {
  display: inline-block;
  vertical-align: top;
  font-family: 'Noto Sans SC', Arial, Helvetica, sans-serif;
}

button {
  font-family: 'Noto Sans SC', Arial, Helvetica, sans-serif;
}

fieldset {
  display: inline;
  border-radius: 7.5px;
}

legend {
  padding: 3px;
  background-color: slategray;
  color: floralwhite;
  border-radius: 5px;
}
