#portfolio {
  opacity: 0;
  transition-duration: 0.75s;
}

#portfolio h3 {
  margin: 10px 0;
}

#portfolio ul.nav a {
  text-decoration: none;
}

#portfolio ul.nav a:hover {
  text-decoration: none;
}

#portfolio ul.nav a:active {
  background-color: #111111;
}

#portfolio a {
  text-decoration: none;
  /*text-decoration-style: dotted;*/
}

#portfolio a:hover {
  text-decoration: underline;
}

#portfolio a:active {
  background-color: lightsteelblue;
  border-radius: 3px;
}

#portfolio .projectDesc p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#portfolio .projectDesc ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-family: 'Share Tech Mono', Arial, Helvetica, sans-serif;
}

#portfolio .projectDesc ul .demo-list-item {
  list-style: none inside url('icons8-joystick-16.png');
}

#portfolio .projectDesc ul .source-list-item {
  list-style: none inside url("icons8-source-code-16.png");
}

#portfolio .projectDesc ul a {
  font-family: 'Syne Mono', Arial, Helvetica, sans-serif;
}

#portfolio .projectDesc ul li ul {
  list-style: disc outside none;
  padding-left: 40px;
  font-size: 14px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

#portfolio .projectDesc ul li ul li a:hover {
  background-color: unset;
  border-radius: unset;
}

.projectTitle {
  font-family: 'Noto Sans SC', Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.projectDesc {
  margin-left: 40px;
}
