@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&family=Montserrat&family=Noto+Sans+SC&family=Share+Tech+Mono&family=Syne+Mono&family=Work+Sans&display=swap');

html {
  height: 100%;
}

body {
  background-color: dimgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100%;
  overflow-y: scroll;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

p {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

dt {
  font-family: 'Noto Sans SC', Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 0.5em;
}

dd {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul.breadcrumb {
  list-style: none;
  padding-left: 2.5px;
  font-size: 13px;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: blue;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  text-decoration: underline;
}

div dl {
  margin-bottom: 0;
}

details {
  cursor: default;
}

#foot {
  color: silver;
  font-size: 12px;
  text-align: center;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

#foot a {
  color: lightgray;
  text-decoration: none;
}

#foot a:visited {
  color: darkgray;
  text-decoration: none;
}

#foot a:hover {
  text-decoration: underline;
}

#container {
  background-color: white;
  padding: 10px;
  position: relative;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#bio a {
  text-decoration: none;
}

#bio a:hover {
  background-color: lightsteelblue;
  border-radius: 3px;
}

#bio a:active {
  text-decoration: underline;
}

#portfolio a:hover {
  background-color: lightsteelblue;
  border-radius: 3px;
}

#portfolio a:active {
  text-decoration: none;
}

#bio dl #education ul {
  list-style: disc inside none;
  padding-left: 0;
}

#bio dl #education ul li ul {
  list-style: circle outside none;
  padding-left: 40px;
}

#bio dl #education ul li ul li ul {
  list-style: square outside none;
}

#bio dl #honor-societies ul {
  list-style-position: inside;
  padding-left: 0;
}

#bio dl #github ul {
  list-style: disc inside none;
  padding-left: 0;
}

#bio dl #contact ul {
  list-style: disc inside none;
  padding-left: 0;
}

#portfolio dl dt a:first-child {
  vertical-align: baseline;
}

#portfolio dl dt a:last-child {
  font-size: 13px;
  vertical-align: top;
  text-decoration: none;
}

#portfolio dl dt a:first-child:hover {
  background-color: unset;
  border-radius: unset;
}

#portfolio dl dt a:last-child:active {
  text-decoration: underline;
}

#portfolio dl dd ul {
  list-style: none inside url("icons8-source-code-16.png");
  padding-left: 0;
  font-family: 'Share Tech Mono', Arial, Helvetica, sans-serif;
}

#portfolio dl dd ul a {
  font-family: 'Syne Mono', Arial, Helvetica, sans-serif;
}

#portfolio dl dd ul li ul {
  list-style: disc outside none;
  padding-left: 40px;
  font-size: 14px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

#portfolio dl dd ul li ul li a:hover {
  background-color: unset;
  border-radius: unset;
}

#ball {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

#ballControls {
  width: 364px;
  margin: 0 auto;
  text-align: left;
  padding: 5px;
  background-color: linen;
  border-radius: 5px;
}

#eff-blue-ribbon {
  text-align: center;
  margin-top: 20px;
}

.license-icon {
  vertical-align: top;
  width: 88px;
  height: 31px;
}

.section {
  width: 99%;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;  
  padding: .5em;
  background-color: gainsboro;
  border-radius: 10px;
}

.github-fork-ribbon.right-top:before {
  background-color: #333;
}
