@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Stick&display=swap');

html {
  height: 100%;
}

body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Caesar Dressing', Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: initial;
  margin-bottom: initial;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  margin-bottom: initial;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

button {
  /*background-color: silver;*/
  /*background-image: linear-gradient(lightgrey, grey);*/
  border-radius: 6px;
  padding: 4px 16px;
  font-family: 'Caesar Dressing', Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  background-color: white;
  color: black;
  border: solid 2px black;
}

button:hover {
  background-color: black;
  color: white;
  transition-duration: 0.4s;
}

.rotate-90 {
  transform: rotate(-90deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate270 {
  transform: rotate(270deg);
}

.rotate360 {
  transform: rotate(360deg);
}

.rotate-360 {
  transform: rotate(-360deg);
}

#board td {
  width: 59px;
  height: 59px;
  border: 1px solid black;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  padding: 0;
  user-select: none;
  transition-duration: 0.5s;
}

#happyFacesOption {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

#selectOptions {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

#player1Options {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Stick, Arial, Helvetica, sans-serif;
  vertical-align: top;
}

#player1InputOptions {
  margin-top: 2px;
  visibility: hidden;
}

#player2Options {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Stick, Arial, Helvetica, sans-serif;
  vertical-align: top;
}

#player2InputOptions {
  margin-top: 2px;
  visibility: visible;
}

#gridOptions {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Stick, Arial, Helvetica, sans-serif;
  vertical-align: top;
}

#gridSelect {
  width: 109px;
}

#customGridOptions {
  visibility: hidden;
}

#customGridOptions .dimensionLabel {
  display: inline-block;
  width: 47px;
}

#customGridOptions .dimensionInput {
  width: 49px;
}

#customPitCheckbox {
  margin: 7px;
}

#miscOptions {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

#newGameButton {
  margin-top: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  /* 15% from the top and centered */
  /* margin: 15% auto; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  border: 1px solid #888;
  max-width: 450px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.75s;
  /* transform: rotate(180deg); */
}

/* Modal Header */
.modal-header {
  margin: 20px auto;
  text-align: center;
}

/* Modal Body */
.modal-body {
  margin: 20px auto;
}

/* Modal Footer */
.modal-footer {
  margin: 20px auto;
  text-align: center;
}

.modal-body h3 {
  margin: 0;
  font-size: 16px;
}

pre span {
  font-family: Arial, Helvetica, sans-serif;
}

.modal-footer button {
  display: inline;
}

/*
#errorModal .modal-content {
  margin-top: 18.75%;
}
*/

#playAgainModal .modal-content {
  top: 25%;
  transform: translateY(-25%);
}

#howToPlayModal .modal-body table {
  border: 0;
  margin: 0 0 20px 0;
}

#howToPlayModal .modal-body table td:nth-child(1) {
  width: 150px;
}

@media (max-width:760px) {
  #playAgainModal .modal-content {
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width:379px) {
  #board td {
    width: 53px;
    height: 53px;
  }
}

@media (max-width:359px) {
  #board td {
    width: 46px;
    height: 46px;
  }
}
