@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Stick&display=swap');

html {
  height: 100%;
}

body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Caesar Dressing', Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

button {
  /*background-color: silver;*/
  /*background-image: linear-gradient(lightgrey, grey);*/
  border-radius: 6px;
  padding: 4px 16px;
  font-family: 'Caesar Dressing', Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  background-color: white;
  color: black;
  border: solid 2px black;
}

button:hover {
  background-color: black;
  color: white;
  transition-duration: 0.4s;
}

.rotate-90 {
  transform: rotate(-90deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate270 {
  transform: rotate(270deg);
}

.rotate360 {
  transform: rotate(360deg);
}

.rotate-360 {
  transform: rotate(-360deg);
}

#board td {
  width: 59px;
  height: 59px;
  border: 1px solid black;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  padding: 0;
  user-select: none;
  transition-duration: 0.5s;
}

#happyFacesOption {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

#selectOptions {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

#player1Options {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Stick, Arial, Helvetica, sans-serif;
  vertical-align: top;
}

#player1InputOptions {
  margin-top: 2px;
  visibility: hidden;
}

#player2Options {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Stick, Arial, Helvetica, sans-serif;
  vertical-align: top;
}

#player2InputOptions {
  margin-top: 2px;
  visibility: visible;
}

#gridOptions {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Stick, Arial, Helvetica, sans-serif;
  vertical-align: top;
}

#gridSelect {
  width: 109px;
}

#newGameButton {
  margin-top: 20px;
}
